//@media print {
//    div.layout {
//        > div.sidebar {
//            display: none;
//        }
//    }
//}

div.layout {
    ul, li { margin: 0; padding: 4px 8px; text-align: left; list-style: none; }
    ul { list-style: none; }

    height: 100%; width: 100%; box-sizing: border-box;

    display: grid;
    grid-template-areas: /*"header header"*/
                         "sidebar content";

    grid-template-rows: /*40px */1fr;
    grid-template-columns: 200px 1fr;

    > div.header {
        grid-area: header;
        background-color: lightcoral;
    }

    > div.sidebar {
        grid-area: sidebar;
        display: flex; flex-direction: column; gap: 4px;

        border-right: 1px solid #e0e0e0;

        > a {
            padding: 4px 8px;;
            &:hover { background-color: lightgrey; }
        }
    }

    > div.content {
        grid-area: content; padding: 8px;
        overflow: auto; scrollbar-width: thin;

        h6 { display: none; }
    }

    @media print {

        @page { margin: 0; }

        display: grid;
        grid-template-areas: "header header"
                             "content content";

        grid-template-rows: 40px 1fr;
        grid-template-columns: 200px 1fr;

        > div.sidebar {
            display: none;
        }

        > div.content {
            > a, button { display: none; }
            h6 { display: block; }
            h4 { display: none; }
        }
    }
}
