div.modal {
    position: absolute; padding: 16px; top: 0; bottom: 0; z-index: 2;
	display: inline-flex; flex-direction: column;

    background-color: white; min-width: 300px;

    div.filters {
		display: grid;
		grid-template-rows: 1fr auto 1fr;
		overflow: auto;
    }

    div.filters_content {
		overflow: auto; scrollbar-width: none; padding: 0 .25rem;

		> div { margin-bottom: 12px; }
	}
}
