/*@tailwind base;*/
/*@tailwind components;*/
@tailwind utilities;

a.i, button.i {
    outline: none; border: none; background-color: transparent; cursor: pointer;

	$_size: 20px;
    display: inline-block; width: $_size; height: $_size; padding: 14px; border-radius: 2px;
    background-repeat: no-repeat; background-size: $_size; background-position: center;

    &.edit { background-image: url("/resources/css/icons/edit.svg"); }
    &.unlock { background-image: url("/resources/css/icons/lock-keyhole-open.svg"); background-size: 18px; }
    &.delete { background-image: url("/resources/css/icons/delete.svg"); }
    &.invoice { background-image: url("/resources/css/icons/invoice_border.svg"); background-size: 28px; }

	&:hover {
		background-color: #f1f1f1;
	}
}

div#modal {
    &:not(:empty) {
        position: fixed; top: 0; right: 0; bottom: 0; left: 0;
        z-index: 1; background-color: #00000094;
    }
}
